@mixin top-gradient {
  background: linear-gradient(180deg, rgba(104, 110, 220, 1) 0%, rgba(104, 110, 220, 0.4) 49.18%, rgba(121, 127, 234, 0.2) 70.66%, rgba(143, 148, 251, 0) 100%);
}

@mixin footer-gradient {
  background: linear-gradient(360deg, rgba(10, 10, 10, 1) 20.1%, rgba(10, 10, 10, 0) 100%);
}

@mixin tile-bg {
  background: rgba(143, 148, 251, 0.15);
}

@mixin grid-view($gap: $spacing-big) {
  display: grid;
  gap: $gap;
}

@mixin flex-row($col-gap: $spacing-big) {
  display: flex;
  flex-flow: row nowrap;
  column-gap: $col-gap;
  align-items: center;
}

@mixin flex-column($row-gap: $spacing-big) {
  display: flex;
  flex-flow: column nowrap;
  row-gap: $row-gap;
}

@mixin tile {
  background: rgba(143, 148, 251, 0.15);
  border-radius: $border-radius;
  width: calc(100% - (2 * $spacing-med));
  padding: $spacing-big $spacing-med;
  color: $white;
}

@mixin dot {
  display: block;
  width: 2px;
  height: 2px;
  background-color: $white;
  border-radius: 100%;
}