@mixin page-gradient {
  background: linear-gradient(180deg, #1c274c 0%, #742f37 100%);
}

@mixin object-shadow {
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.25);
}

@mixin tile-bg {
  background: rgba(30, 31, 46, 0.3);
}

@mixin content {
  position: relative;
  z-index: 1;
  width: calc(100vw - (2 * $spacing-medium));
  min-height: calc(
    100vh - $body-padding-top - $page-title-height - $body-padding-bottom -
      (2 * $spacing-medium)
  );
  margin-left: -$spacing-medium;
  padding: $spacing-medium;
}

@mixin grid-view($gap: $spacing-big) {
  display: grid;
  gap: $gap;
}

@mixin flex-row($col-gap: $spacing-big) {
  display: flex;
  flex-flow: row nowrap;
  column-gap: $col-gap;
  align-items: center;
}

@mixin flex-column($row-gap: $spacing-medium) {
  display: flex;
  flex-flow: column nowrap;
  row-gap: $row-gap;
}

@mixin tile {
  width: $calc-page-width;
  padding: $spacing-big $spacing-max;
  background-color: $white;
}

@mixin dot {
  display: block;
  width: 3px;
  height: 3px;
  background-color: $black;
  border-radius: 100%;
}

@mixin tile-white {
  background: $white;
  border-radius: $border-radius;
  padding: $spacing-big $spacing-medium;
  width: calc(100% - (2 * $spacing-medium));
  color: $black;
}
