$black: #0A0A0A;
$white: #FEFCFB;
$purple-light: #8F94FB;
$purple-dark: #4E54C8;
$grey: #1e1f2e;
$error: red;
$success: greenyellow;

$border-radius: 5px;
$spacing-big: 15px;
$spacing-med: 10px;
$spacing-small: 5px;

$header-height: 104px;
$bar-height: 50px;
