@font-face {
  font-family: "JostRegular";
  src: url("../fonts/Jost-Regular.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "JostMedium";
  src: url("../fonts/Jost-Medium.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "JostSemiBold";
  src: url("../fonts/Jost-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-style: normal;
}
